body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #e0d0d3;
}
.slideshow-container {
  width: 60%;
  max-width: 800px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
#slideshow {
  width: 100%;
}
